<tr id="<%= dom_id student %>">
  <td>
    <%= student.typedocument %>
  </td>

  <td>
    <%= student.document %>
  </td>

  <td>
    <%= student.code %>
  </td>

  <td>
    <%= student.fullname %>
  </td>


  <td>
    <%= link_to "Ver", student %>
  </td>
</tr>
