<tr id="<%= dom_id user %>">

  <td>
    <%= user.username %>
  </td>

  <td>
    <%= user.fullname %>
  </td>

  <td>
    <%= user.profile %>
  </td>

  <td>
    <%= user.email %>
  </td>
  <td>
    <%= link_to "Ver", user %>
  </td>

</tr>
